footer {
    background-image: url('../../images/footer-bg.png');
    background-size: cover;
}

footer .description {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0;
    width: 50%;
    font-weight: bold;
}

footer span {
    font-family: 'Bebas Neue', cursive;
}

footer .info {
    margin-right: 8rem;
    margin-bottom: 11rem;
}

@media (max-width: 575px) {
    footer .description {
        padding-right: 0;
        width: 100%;
    }

    footer .info {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer .description {
        padding-right: 0;
        width: 50%;
    }

    footer .info {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}